.topnav{
  position: static;
  background-color: #5a7721;
  overflow: hidden;
  font-family: 'Blinker', sans-serif;
}

.topnav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Blinker', sans-serif;
}
.topnav a:hover{
  background-color: #ddd;
  color: black;
  font-family: 'Blinker', sans-serif;
}

.topnav a.active{
  background-color: #CFB997;
  color: white;
}

h1{
    margin-top: 20px;
    padding-right: 10px;
    color: #606948;
    font-family: 'Blinker', sans-serif;
    font-weight: bold;
}

h2{
    color: #606948;
    font-family: 'Blinker', sans-serif;
    font-weight: bold;
}



body{
    background-color: #d3e2ae;
    text-align: center;
    font-family: 'Blinker', sans-serif;
    color: #75805a;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.container{
    margin:0 auto;
    padding:10px 25px;
    border:1px solid;
    color: #bfd489;
}

p{
     text-indent: 10px;
    font-family: 'Blinker', sans-serif;
    color: #4f573a;
    font-size: 18px;
}

ul{
    font-family: 'Blinker', sans-serif;
    color: #4f573a;
    font-size: 18px;
}

ol{
    font-family: 'Blinker', sans-serif;
    color: #4f573a;
    font-size: 18px;
}

#first{
    display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 400px;
  border: 1px solid #b6c590;
}

#second{
  float: left;
  border-radius: 25px;
  padding: 20px;
  height: 250px;
  width: 400px;
}

table{
border: 1px dotted #5e6943;
}

th{
    color: #4f573a;
}

#third{
    border-radius: 25px;
    padding: 20px;
    height: 250px;
    width: 350px;
}

#fourth{
    border-radius: 25px;
    padding: 20px;
    height: 250px;
    width: 390px;
}

#workforce{
    height: 250px;
    width: 350px;
}
.fifth{
    border-radius: 25px;
    padding: 20px;
    height: 230px;
    width: 250px;
}

#sixth{
    height: 230px;
    width: 400px;
    border-radius: 25px;
    padding: 20px;
}

#seventh{
    height: 230px;
    width: 400px;
    border-radius: 25px;
    padding: 20px;
}

.button {
     background-color: #CFB997;
     border: none;
     color: white;
     padding: 20px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 20px;
     margin: 4px 2px;
     cursor: pointer;
}

.banner{
    height: 300px;
    width: 450px;
    border-radius: 25px;
    padding: 20px;
}

.starter{
    background-color: #d2dfb1;
}

form{
    color: #4f573a;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #b6c590;
  color: #bcce90;
}

/* unvisited link */
a:link {
  color: #555d3f;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: rgb(167, 144, 111);
}

/* selected link */
a:active {
  color: #CFB997;
}